<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.board.mapper.MemberMapper">
 
 	<select id="readMember" parameterType="com.board.domain.MemberDTO">
 		select * from member where email=#{email} 	
 	</select>

    <insert id="insertMember" parameterType="com.board.domain.MemberDTO">
        insert into member
            values
        (#{member.email}, #{member.name},#{member.password}, now(), now(), #{member.authorities}, #{member.isAccountNonExpired}, #{member.isAccountNonLocked}, #{member.isCredentialIsNonExpired}, #{member.isEnabled})
    </insert>
 
 <select id="readAllMembers" resultType="java.util.List">
 
 select * from member
 
 </select>
 
</mapper>